<%= content_tag :h1, current_user.username %>

<!-- want this to just display the meals for the user for the current day -->
<h3>Todays Meals</h3>

<%= render 'meals/meals_list', meals: @meals %>

<%= content_tag :div do %>
  <%= link_to "Create a New Meal", new_meal_path %>
<% end %>

<%= content_tag :div do %>
  <%= link_to "See All Meals", meals_path(@meal), id: "all-meals" %>
  <div id="show-meals"></div>
<% end %>

<h5 id="todays_meals_show_macro"> Macronutrient Tracker </h5>
<table class="pure-table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Grams</th>
            <th>Percentage of Calories</th>
        </tr>
    </thead>
    <tbody>
    <% @macronutrients.each.with_index(1) do |macronutrient, i| %>
      <%= tr_class(i) do %>
        <%= content_tag :td, macronutrient.category.upcase %>
        <%= content_tag :td, Meal.todays_macronutrient_total(current_user, macronutrient) %>
        <%= content_tag :td, Meal.todays_percent_calories_of_macro(current_user, macronutrient) %>
      <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  console.log('hello on user profile.');
  $(document).on('turbolinks:load', function() {
    console.log('turbolinks loads');
    //show meals when i hit see all meals
      //each meal will have a link attached that will show us the foods for that particular meal.
    $('#all-meals').on('click', function(e) {
      e.preventDefault();
      $.getJSON('/meals', function(data) {
        console.log('got data back for meals', data);
        const meals = data.map( e => {
          return new Meal(e.id, e.time, e.meal_compositions);
        })
        console.log(meals);
        if ($('body').data('meals') === undefined) {
          $('body').data('meals', meals);
          meals.forEach( meal => {
            $('#show-meals').append(meal.mealListItem());
          })
        }
        $('#show-meals a').on('click', function(e) {
          e.preventDefault();
          console.log('I just clicked to see the foods for this meal', this.attributes.data.value);
          const mealId = this.attributes.data.value;
          const meal = $('body').data('meals').find( e => {
            return e.id === parseInt(mealId);
          })
          meal.foods().forEach( e => {
            return $('span#' + mealId).append(e.foodLink() + ", ")
          })
        })
      })
    })
  })
</script>
