<%= form_for(meal) do |f| %>

  <%= f.datetime_select :time, prompt: {day: 'Choose day', month: 'month', year: 'year', hour: "hour", minute: "min"} %>

  <div id="add-food-form">
  <%= meal_errors_present?(meal) do%>
    <% 3.times do %>
      <%= select_tag 'meal[food_attributes][][food_id]', options_from_collection_for_select(foods, :id, :name), prompt: 'select food' %>
      <%= text_field_tag 'meal[food_attributes][][servings]', nil, placeholder: 'servings' %>
    <%= tag :br %>
    <% end %>
  <% end %>
  <div id="add-add-food-form"><div>
  <a href="#" id="add-food-form-link">Add another food</a>
  </div>

  <div id="create-new-food-form">
  <%= div_tag_for_food_attributes do %>
    <%= content_tag(:p, "And/Or Create Foods For Meal") %>

    <%= meal_errors_present?(meal) do%>
      <%= label_tag 'Food Name:' %>
      <%= text_field_tag 'meal[new_foods][][food_name]'%>
      <%= tag(:br) %>

      <% macronutrients.each do |macronutrient| %>
        <%= macronutrient.category%> <%= hidden_field_tag 'meal[new_foods][][macronutrient_categories][][macronutrient_id]', macronutrient.id %>
        <%= text_field_tag 'meal[new_foods][][macronutrient_categories][][grams]', nil, placeholder: 'grams' %>
        <%= tag(:br) %>
      <% end %>
      <%= text_field_tag 'meal[new_foods][][food_servings]', nil, placeholder: 'servings' %>
    <% end %>
    <div id="add-new-food-form"><div>
  <% end %>

  <a href="#" id="create-new-food-form-link">Create another food</a>
  </div>
  <%= tag(:br) %>
  <%= f.submit %>
<% end %>

<script type="text/javascript" charset="utf-8">
  console.log('hello on new meal page');

  $(document).on('turbolinks:load', function(){
    $('#create-new-food-form-link').on('click', function(e) {
      e.preventDefault();
      console.log('In the new food form click');

      let newFoodForm = HandlebarsTemplates['new_meal_food']
      $('#add-new-food-form').prepend(newFoodForm);
    })

    $('#add-food-form-link').on('click', function(e) {
      e.preventDefault();
      const mealId =
      console.log('In the add food form click');
      $.get('/foods', function(data) {
        console.log(data)
        const foods = data;
        debugger
      })
    })
  });

</script>
