<div id="todays-meal-list">
  <% meals.each do |meal| %>
    <%= content_tag :ul do %>
      <%= content_tag :li do %>
        <%= meal_time_link(meal, current_user) %>
      <% end %>
    <% end %>

    <%= content_tag :p, class: "calories-list" do %>
      - <%= meal.calories %> calories
        <small><%= link_to ' see meal creator', '#', id: "see-creator", data: meal.id %></small>
        <ul id="meal-creator"></ul>
    <% end %>

  <% end %>
</div>
