<h1>Meal for <%= @meal.time.strftime('%b %e, %l:%M %p') %></h1>

  <h3> Foods </h3>
  <ul>
    <% @meal.foods.each do |food| %>
      <li>
        <%= link_to food.name, meal_food_path(@meal, food) %>
      </li>
    <% end %>
  </ul>

  <h5> Macronutrient Composition </h5>

  <table class="pure-table">
      <thead>
          <tr>
              <th>Category</th>
              <th>Grams</th>
              <th>Percentage of Calories</th>
          </tr>
      </thead>
      <tbody>
        <% @macronutrients.each.with_index(1) do |macronutrient, i| %>
          <% if i.odd? %>
            <tr class="pure-table-odd" >
          <% else %>
            <tr>
          <% end %>
                <td><%= macronutrient.category.upcase %></td>
                <td><%= @meal.grams_of_macronutrient(macronutrient) %></td>
                <td><%= @meal.percent_calories_macronutrient(macronutrient) %></td>
            </tr>
        <% end %>
      </tbody>
  </table>

  <footer>
    <a href="#">Logout</a>
  </footer>
