<%= content_tag :h1, "Meal for #{meal_time(@meal)}" %>

<%= errors_list(@meal) %>

  <div>
    <%= button_tag "See Foods", type: 'button', class: "see-foods", id: "see-foods", data: "#{@meal.id}" %>
  </div>

  <h3 id="title"></h3>
  <%= content_tag :ul, nil, class: "col-1", id: "foods" %>


  <h5 id="meal_show_macro"> Macronutrient Tracker </h5>
  <table class="pure-table">
      <thead>
          <tr>
              <th>Category</th>
              <th>Grams</th>
              <th>Percentage of Calories</th>
          </tr>
      </thead>
      <tbody>
        <%= render 'macronutrients_table', macronutrients: @macronutrients, item: @meal %>
      </tbody>
  </table>


  <!-- dropdown menu to add existing foods to current meal -->
  <div id="form"></div>
  <%= form_tag(meal_path(@meal), method: :patch, id: "add-food-form", data: @meal.id) do %>
    <%= meal_errors_present?(@meal) do %>
      <%= select_tag 'meal[add_food][food_id]', options_from_collection_for_select(Food.all, :id, :name), prompt: "Select Food"  %>
      <%= text_field_tag 'meal[add_food][servings]', nil, placeholder: 'servings' %>
      <%= submit_tag "Add Food" %>
    <% end %>
  <% end %>

<h4 id="create-title"><h4>
  <%= content_tag :p, id: "add-form" do %>
    <%= link_to "Create Food", new_meal_food_path(@meal), id: "new-food-link", data: "#{@meal.id}" %>
  <% end %>
<!-- link to edit meals time -->
  <%= content_tag :p do %>
   <%= link_to "Update Meal Time", edit_meal_path(@meal) %>
  <% end %>

  <%= content_tag :p do %>
   <%= link_to "See All Foods", meal_foods_path(@meal) %>
  <% end %>

  <script type="text/javascript" charset="utf-8">
    console.log('hello on show');
    $(document).on('turbolinks:load', function() {
      console.log('log this after the document loads');
      $('#see-foods').on('click', function(e) {
        console.log('You just clicked the button');
        const mealId = this.attributes.data.value;
        $.getJSON('/meals/' + mealId, function(data) {
          console.log('in the get response');
          let meal = new Meal(data.id, data.time, data.meal_compositions);
          $("body").data( "meal-foods", meal);
          $('#title').text('Foods');
          meal.foodList().forEach( element => {
            console.log('we are in the iteration');
            $('#foods').append(element);
          })
        })
      })
      $('#new-food-link').on('click', (e) => {
        e.preventDefault();
        console.log('just clicked to create a new food for meal.');
        $('#create-title').text("Create Foods");
        let id = $('#new-food-link')[0].attributes.data.value
        //id is the current meals id that gets passed into the template.
        let newFoodForm = HandlebarsTemplates['new_food_form']({
          mealId: id
        })
        $('#add-form').prepend(newFoodForm);
        $('#new-food-link').hide();
        $('#new-food-form').on('submit', (function(event) {
          event.preventDefault();
          $('#new-food-link').show();
          let mealId = $('#new-food-form')[0].attributes.data.value;
          let values = $(this).serialize();

          $.ajax({
            type: "POST",
            url: "/meals/" + mealId + '/foods',
            data: values,
            success: success,
            dataType: 'json'
          });

          function success(data) {
            let food = new Food(data.food.id, data.food.name);
            let servings = data.food_servings
            if ($('body').data('meal-foods') === undefined) {
              alert('You just created a food for this meal')
            } else {
              let listItem = '<li>' + food.name + '</li><li>' + servings + '</li>'
              $('#foods').append(listItem);
            }
            macronutrientTable = new MacronutrientTable(data.table_data.carbohydrate, data.table_data.percent_calories_of_carbohydrate,
            data.table_data.protein,data.table_data.percent_calories_of_protein, data.table_data.fat, data.table_data.percent_calories_of_fat)

            macronutrientTable.updateTable();
            $('#new-food-form').remove();
            $('#create-title').text("");
          }
        }))
      })
      $('#add-food-form').submit(function(event) {
        event.preventDefault();

        console.log('I submitted the add food form', this);
        let values = $(this).serialize();
        let mealId = $(this)[0].attributes.data.value;
        $.ajax({
          type: "PATCH",
          url: "/meals/" + mealId,
          data: values,
          success: success,
          dataType: 'json'
        });

        function success(data) {
          console.log('the add food form ws successful', data);
          debugger
          //macronutrientTable = new MacronutrientTable(data.table_data.carbohydrate, data.table_data.percent_calories_of_carbohydrate,
          //data.table_data.protein,data.table_data.percent_calories_of_protein, data.table_data.fat, data.table_data.percent_calories_of_fat)

          //macronutrientTable.updateTable();
        }
        $('#add-food-form').trigger('reset');

      })

    });


  </script>
