<h1>Edit <%=@food.name%></h1>
<h3> Change Composition(unable to remove macronutrients at this time.) </h3>
<%= form_for(@food, url: food_path(@food), method: :patch) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <% @macronutrients.each do |macronutrient| %>
    <p>
      <%= label_tag :macronutrient_id, macronutrient.category %>
      <%= check_box_tag "food[macronutrients_grams[][id]", macronutrient.id, 'checked' if @food.macronutrient_ids.include?(macronutrient.id) %>
      Grams:<%= text_field_tag "food[macronutrients_grams][][grams]", macronutrient.grams(@food) %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>

<p>
  <%= button_to "Delete Food", food_path(@food), method: :delete, form_class: "delet-food", data: {confirm: "Are you sure you want to delete this food?"} %>
</p>
