<%= content_tag :h1, "Foods for meal on #{meal_time(@meal)}" %>

<!-- a nested view -->
<% @meal.foods.each do |food| %>
  <div>
    <ul>
      <li>
        <%= food.name %>
        <ul>
          <li>
            <%= link_to "#{food.calories} calories", food_path(food) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>


<% @foods.each do |food| %>
  <ul>
    <li>
      <%= food.name %>
    </li>

    <li>
      <%= link_to "#{food.calories} calories", food_path(food) %>
    </li>
  </ul>
<% end %>
