<h1> Create A New Food </h1>

<%= errors_list(@food) %>

<%= form_for(@food, url: meal_foods_path(@meal)) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= render 'food_macronutrients', macronutrients: @macronutrients %>

  <%= f.submit %>
<% end %>
