<h1> Create A New Food </h1>
<!--this is nested. Associate with meal-->
<%= form_for(@food, url: meal_foods_path(@meal)) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <% @macronutrients.each do |macronutrient| %>
    <p>
      <%= label_tag :macronutrient_id, macronutrient.category %>
      <%= check_box_tag "food[macronutrients_grams[][id]" %>
      Grams:<%= text_field_tag "food[macronutrients_grams][][grams]" %>
    </p>
  <% end %>

  <%= f.submit %>
<% end %>
