<!--should this view be nested?? I don't think so-->
<h1><%= @food.name %></h1>
<h3>Total Calories: <%= @food.calories %></h3>

<h5> Macronutrient Composition </h5>

<table class="pure-table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Grams</th>
            <th>Percentage of Calories</th>
        </tr>
    </thead>
    <tbody>
      <% @food.macronutrients.each.with_index(1) do |macronutrient, i| %>
        <% if i.odd? %>
          <tr class="pure-table-odd" >
        <% else %>
          <tr>
        <% end %>
              <td><%= macronutrient.category.upcase %></td>
              <td><%= macronutrient.grams(@food) %></td>
              <td><%= macronutrient.calorie_percent(@food) %></td>
          </tr>
      <% end %>
    </tbody>
</table>

<footer>
  <%= link_to "update food", edit_food_path(@food) %>
</footer>
