<h1><%= @food.name %></h1>
<h3>Total Calories: <%= @food.calories %></h3>

<h5> Macronutrient Composition </h5>
<ul>
  <% @food.macronutrients.each do |macronutrient| %>
    <li>
      <%= macronutrient.category.upcase %>
      <ul>
        <li>
          <%= "Grams: #{macronutrient.grams(@food)}" %>
        </li>
        <li>
          <%= "Percentage of Calories: #{macronutrient.calorie_percent(@food)}%" %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
