<!--should this view be nested?? -->
<%= content_tag :h1, @food.name %>

<%= content_tag :h3, "Total Calories: #{@food.calories}" %>

<h5> Macronutrient Tracker </h5>

<table class="pure-table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Grams</th>
            <th>Percentage of Calories</th>
        </tr>
    </thead>
    <tbody>
      <%= render '/meals/macronutrients_table', macronutrients: @food.macronutrients, item: @food %>
    </tbody>
</table>

<%= content_tag :footer do %>
  <%= link_to "Update Food", edit_food_path(@food) %>
  <%= link_to "Back to Meal", meal_path(@meal) %>
<% end %>
