<!DOCTYPE html>
<html>
  <head>
    <title>MacroTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a href="/sessions/new">Login</a>
      <a href="/users/new">Signup</a>
      <a href="/users/<%=current_user.id%>">Your Profile</a>

    </div>

    <%= content_tag :div, class: "wrapper" do %>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "flash-errors" %>
      <% end -%>

      <%= yield %>

      <%= content_tag :footer do %>
        <%= logout_link_display? %>
      <% end %>

    <% end %>

  </body>
</html>
